{% extends 'seller-header.html' %}
{% load static %}
{% block content %}

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-01.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-02.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-03.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			Edit Product
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<style>
					    /* Style the textarea container */
					    .bor8 {
					        position: relative;
					    }

					    /* Style the textarea element */
					    .stext-111 {
					        width: 100%;
					        padding: 10px;
					        border: 1px solid #ccc;
					        border-radius: 5px;
					    }

					    /* Style the placeholder for the textarea */
					    .stext-111::placeholder {
					        text-align: left; /* Center-align the placeholder text */
					        padding-left: 20px; 
					    }

					    /* Center the text within the textarea */
					    .how-pos4-parent {
					        text-align: center;
					    }
					</style>
					{% if msg %}
						<b style="color: #0073e6;">{{msg}}</b>
					{% endif %}
					<form method="post" action="{% url 'seller-product-edit' pk=product.pk %}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="bor8 m-b-20 how-pos4-parent">
					        <select name="product_categories" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30">
					        	<option value="Men" {% if product.product_categories == "Men" %}selected{% endif %}>Men</option>
					        	<option value="Women" {% if product.product_categories == "Women" %}selected{% endif %}>Women</option>
					        </select>
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <select name="product_subcategories" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30">
					        	<option value="Shirt" {% if product.product_subcategories == "Shirt" %}selected{% endif %}>Shirt</option>
					        	<option value="Pant" {% if product.product_subcategories == "Pant" %}selected{% endif %}>Pant</option>
					        	<option value="Shoes" {% if product.product_subcategories == "Shoes" %}selected{% endif %}>Shoes</option>
					        </select>
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="product_name" placeholder="Enter Product Name" value="{{product.product_name}}" style="color: black;">
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="product_brand" placeholder="Enter Product Brand" value="{{product.product_brand}}" style="color: black;">
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="product_size" placeholder="Enter Product Size" value="{{product.product_size}}" style="color: black;">
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="product_price" placeholder="Enter Product Price" value="{{product.product_price}}" style="color: black;">
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <textarea class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="product_description" placeholder="Enter Product Details" style="color: black;height: 13rem;">{{product.product_description}}</textarea>
					    </div>
					    <div class="bor8 m-b-20 how-pos4-parent">
					        <textarea class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="product_information" placeholder="Enter Product Information" style="color: black;height: 13rem;">{{product.product_information}}</textarea>
					    </div>
					    Product Pic
					    <a href="{{ product.product_pic.url }}" target="_blank" style="color: #007bff; text-decoration: none;"
                            onmouseover="this.style.color='black'" onmouseout="this.style.color='#007bff'">{{ product.product_pic.url }}
                        </a>
					    <div class="bor8 m-b-20 how-pos4-parent">
						    <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="file" name="product_pic" placeholder="Product Pic" style="color: black;">
						</div>

					    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
					       	Update Product
					    </button>
					    
					</form>


				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Lets Talk
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								+1 800 1236879
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Seller Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								contact@example.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
{% endblock %}